@{
    ViewBag.Title = "AccountRegister";
}

@model Week02.Models.RegisterModel
<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li class="active">Registration</li>
</ul>
<h3> Registration</h3>
<hr class="soft" />
<div class="well">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", id = "resgister" }))
    {
        @*<form class="form-horizontal">*@
        <label id="123123" style="color: red">@ViewBag.error</label>
        <h3>Account</h3>
        <div class="control-group">
            @*<label class="control-label" for="inputEmail">Email <sup>*</sup></label>*@
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email)
                @*<input type="text" placeholder="Email">*@
            </div>
        </div>
        <div class="control-group">
            @*<label class="control-label">Password <sup>*</sup></label>*@
            @Html.LabelFor(m => m.MK, new { @class = "control-label" })
            <div class="controls">
                @*<input type="password" placeholder="Password">*@
                @Html.TextBoxFor(m => m.MK, new { placeholder = "Password", type = "password", id = "password" })
                @Html.ValidationMessageFor(m => m.MK)
            </div>
        </div>
        <div class="control-group">
            @*<label class="control-label">Confirm Password <sup>*</sup></label>*@
            @Html.LabelFor(m => m.CFMK, new { @class = "control-label" })
            <div class="controls">
                @*<input type="password" placeholder="Confirm Password">*@
                @Html.TextBoxFor(m => m.CFMK, new { placeholder = "Confirm Password", type = "password", id = "passwordcf" })
                @Html.ValidationMessageFor(m => m.CFMK)
            </div>
        </div>
        <h3>Information</h3>
        <div class="control-group">
            @*<label class="control-label" for="inputName">Name <sup>*</sup></label>*@
            @Html.LabelFor(m => m.Ten, new { @class = "control-label" })
            <div class="controls">
                @*<input type="text" id="inputName" placeholder="First Name">*@
                @Html.TextBoxFor(m => m.Ten, new { placeholder = "Name" })
                @Html.ValidationMessageFor(m => m.Ten)
            </div>
        </div>
        <div class="control-group">
            @*<label class="control-label" for="inputAdrs">Address <sup>*</sup></label>*@
            @Html.LabelFor(m => m.Diachi, new { @class = "control-label" })
            <div class="controls">
                @*<input type="text" id="inputAdrs" placeholder="Address">*@
                @Html.TextBoxFor(m => m.Diachi, new { placeholder = "Address" })
                @Html.ValidationMessageFor(m => m.Diachi)
            </div>
        </div>
        <div class="control-group">
            @*<label class="control-label" for="inputPhone">Phone <sup>*</sup></label>*@
            @Html.LabelFor(m => m.SDT, new { @class = "control-label" })
            <div class="controls">
                @*<input type="text" id="inputPhone" placeholder="Phone">*@
                @Html.TextBoxFor(m => m.SDT, new { placeholder = "Phone", type = "tel" })
                @Html.ValidationMessageFor(m => m.SDT)
            </div>
        </div>
        <div class="control-group">
            @*<label class="control-label">Date of Birth <sup>*</sup></label>*@
            @Html.LabelFor(m => m.Ngaysinh, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.Ngaysinh, new { placeholder = "Birthday", type = "date" })
                @Html.ValidationMessageFor(m => m.Ngaysinh)
                @*<select class="span1" name="days">
                        <option value="">-</option>
                        <option value="1">1&nbsp;&nbsp;</option>
                        <option value="2">2&nbsp;&nbsp;</option>
                        <option value="3">3&nbsp;&nbsp;</option>
                        <option value="4">4&nbsp;&nbsp;</option>
                        <option value="5">5&nbsp;&nbsp;</option>
                        <option value="6">6&nbsp;&nbsp;</option>
                        <option value="7">7&nbsp;&nbsp;</option>
                    </select>
                    <select class="span1" name="days">
                        <option value="">-</option>
                        <option value="1">1&nbsp;&nbsp;</option>
                        <option value="2">2&nbsp;&nbsp;</option>
                        <option value="3">3&nbsp;&nbsp;</option>
                        <option value="4">4&nbsp;&nbsp;</option>
                        <option value="5">5&nbsp;&nbsp;</option>
                        <option value="6">6&nbsp;&nbsp;</option>
                        <option value="7">7&nbsp;&nbsp;</option>
                    </select>
                    <select class="span1" name="days">
                        <option value="">-</option>
                        <option value="1">1&nbsp;&nbsp;</option>
                        <option value="2">2&nbsp;&nbsp;</option>
                        <option value="3">3&nbsp;&nbsp;</option>
                        <option value="4">4&nbsp;&nbsp;</option>
                        <option value="5">5&nbsp;&nbsp;</option>
                        <option value="6">6&nbsp;&nbsp;</option>
                        <option value="7">7&nbsp;&nbsp;</option>
                    </select>*@
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input onclick="return onSubmit()" onkeypress="return onSubmit()" type="submit" name="submitAccount" value="Register" class="exclusive shopBtn">
            </div>
        </div>
        @*</form>*@
    }
</div>

<script type="text/javascript">
    sessionStorage.setItem("hActive", 2);
    function onSubmit() {
        var pass = document.getElementById('password');
        var cfpass = document.getElementById('passwordcf');
        if (pass.value != null && pass.value != '' && cfpass.value != '' && cfpass.value != null) {
            if (pass.value == cfpass.value) {
                pass.value = cfpass.value = sha256(pass.value);
            }
            else {
                document.getElementById('123123').innerHTML = "Password don't like Password Confirm";
                return false;
            }
        }
    }
</script>

@section SideBar{
    <div id="sidebar" class="span3">
        <div class="well well-small">
            @Html.Action("ListKind", "Home")
        </div>

        <div class="well well-small alert alert-warning cntr">
            <h2>50% Discount</h2>
            <p>
                only valid for online order. <br><br><a class="defaultBtn" href="#">Click here </a>
            </p>
        </div>
        <div class="well well-small"><a href="#"><img src="~/assets/img/paypal.jpg" alt="payment method paypal"></a></div>

        <a class="shopBtn btn-block" href="#">Upcoming products <br><small>Click to view</small></a>
        <br>
        <br>
        <ul class="nav nav-list promowrapper">
            <li>
                <div class="thumbnail">
                    <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                    <img src="~/assets/img/bootstrap-ecommerce-templates.png" alt="bootstrap ecommerce templates">
                    <div class="caption">
                        <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                    </div>
                </div>
            </li>
            <li style="border:0"> &nbsp;</li>
            <li>
                <div class="thumbnail">
                    <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                    <img src="~/assets/img/shopping-cart-template.png" alt="shopping cart template">
                    <div class="caption">
                        <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                    </div>
                </div>
            </li>
            <li style="border:0"> &nbsp;</li>
            <li>
                <div class="thumbnail">
                    <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                    <img src="~/assets/img/bootstrap-template.png" alt="bootstrap template">
                    <div class="caption">
                        <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                    </div>
                </div>
            </li>
        </ul>

    </div>
}